---
# Configure GUI service and performance collection

# Make default variables available in hostvars
- name: configure | Set default collector role
  set_fact:
    scale_cluster_gui: "{{ scale_cluster_gui }}"
  when: hostvars[inventory_hostname].scale_cluster_gui is undefined

#
# Configure performance collection
#
- name: configure | Start and enable GUI service
  systemd:
    name: gpfsgui
    state: started
    enabled: true
    no_block: true
  when: scale_cluster_gui | bool

# Verify GUI is up and running
- name: Wait until gpfsgui is up and running
  shell: "systemctl is-active gpfsgui"
  register: systemctl_out
  until: systemctl_out.stdout == "active"
  retries: 20
  delay: 20

#
# Initialize the GUI so that user dont need to wait and HTTPs certificate and be imported.
#
- name: configure | Initialize the GUI
  command: /usr/lpp/mmfs/gui/cli/initgui
  register: scale_gui_conf_initgui
  failed_when: "scale_gui_conf_initgui.rc != 0 and 'EFSSG1000I' not in scale_gui_conf_initgui.stdout"
  when: scale_cluster_gui | bool
  changed_when: false

#
# Hide the CallHome TIP in the GUI, so all is healthy
#
- name: configure | Hide the CallHome TIP in the GUI
  command: 'mmhealth event hide callhome_not_enabled'
  register: scale_gui_conf_hide_tip_callhome
  ignore_errors: true
  when: scale_gui_hide_tip_callhome | bool
    #TODO check: don't know what to check if the init is already run
