---
# Configure IBM Spectrum Scale (GPFS) Graphical User Interface (GUI)

- import_tasks: configure.yml
  when:
    - scale_cluster_gui | bool
    - scale_service_gui_start | bool
  tags: configure

- import_tasks: chpasswdpolicy.yml
  when:
    - scale_cluster_gui | bool
    - scale_gui_password_policy_change | bool
  tags: chpasswdpolicy

- name: check | Check gui nodes if defined
  add_host:
    name: "{{ item }}"
    groups: scale_gui_defined_listnodes
  when:
     - hostvars[item].scale_cluster_gui is defined
     - (hostvars[item].scale_cluster_gui is defined and hostvars[item].scale_cluster_gui | bool)
  with_items: "{{ ansible_play_hosts }}"
  changed_when: false

- import_tasks: users.yml
  when:
    - scale_gui_admin_user is defined
    - scale_gui_admin_hc_vault_user is not defined
    - groups['scale_gui_defined_listnodes'] is defined and groups['scale_gui_defined_listnodes'] | length > 0
  delegate_to: "{{ (groups['scale_gui_defined_listnodes'] | default([]) | list | first | default('localhost')) }}"
  tags: users

- import_tasks: ldap.yml
  when:
    - scale_cluster_gui | bool
    - scale_gui_ldap_integration | bool
  tags: ldap

- import_tasks: email.yml
  when:
    - scale_cluster_gui | bool
    - scale_gui_email_notification | bool
  tags: email

- import_tasks: snmp.yml
  when:
    - scale_cluster_gui | bool
    - scale_gui_snmp_notification | bool
  tags: snmp

- import_tasks: hasi_vault_user.yml
  when:
    - scale_cluster_gui | bool
    - scale_gui_admin_hc_vault_user is defined
    - scale_gui_admin_user is not defined
  tags: hasivaultuser

- import_tasks: hasi_vault_certificate.yml
  when:
    - scale_cluster_gui | bool
    - scale_gui_cert_hc_vault | bool
  tags: hasivaultcertificate
