---
    # Enabling MROT for IBM Storage Scale.

      # Task to be executed on the all nodes of cluster
    - name: common | Executing common tasks on cluster nodes
      block:
        - import_tasks: common.yaml

      # Task to be execute only on compute nodes to configure MROT
    - name: configure | Executing specific tasks on the compute cluster to check and cofigure MROT configuration.
      vars:
        variable_sets:
          - { network_addr_1: "{{ compute_network_addr.stdout_lines[0] }}", network_addr_2: "{{ storage_network_addr.stdout_lines[0] }}", subnet_cidr_1: "{{ compute_subnet_cidr }}", subnet_cidr_2: "{{ storage_subnet_cidr }}", primary_ip: "{{ primary_ip.stdout }}", secondary_ip: "{{ secondary_ip.stdout }}", comp_gateway_ip: "{{ comp_gateway_ip }}", strg_gateway_ip: "{{ strg_gateway_ip }}"}
      block:
        - import_tasks: mrot_config.yaml
      when: scale_cluster_type == "compute"

      # Task to be execute only on storage nodes to configure MROT
    - name: configure | Executing specific tasks on the storage cluster to check and cofigure MROT configuration.
      vars:
        variable_sets:
          - { network_addr_1: "{{ storage_network_addr.stdout_lines[0] }}", network_addr_2: "{{ storage_network_addr.stdout_lines[0] }}", subnet_cidr_1: "{{ storage_subnet_cidr }}", subnet_cidr_2: "{{ storage_subnet_cidr }}", primary_ip: "{{ primary_ip.stdout }}", secondary_ip: "{{ secondary_ip.stdout }}"}
      block:
        - import_tasks: mrot_config.yaml
      when: scale_cluster_type == "storage"

      # Task to be execute only on admin node to configure logical subnet
    - name: configure | Check and configuration logical subnet
      block:
        - import_tasks: logical_subnet_config.yaml
      when: 
        -  (is_admin_node | default(false) == true and scale_cluster_type == 'compute') or 
           (is_admin_node | default(false) == true and scale_cluster_type == 'storage')
  