---
# Adding SGKLM Key servers for encryption to storage cluster

# Make default variables available in hostvars

- name: "************************ Encryption | Environment for SGKLM Credentials | Check ************************"
  stat:
    path: "{{ sgklm_dir }}"
  register: dir_check

- name: "************************ Encryption | Environment for SGKLM Credentials | Create ************************"
  file:
    path: "{{ sgklm_dir }}"
    state: directory
  when: not dir_check.stat.exists

- debug:
    var: dir_check.stdout_lines
  run_once: true


- name: "************************  Encryption | Environment for SGKLM Credentials | Password Check ************************"
  stat:
    path: "{{ sgklm_dir }}/.sgklm_pass"
  register: file_check

- name: "************************ Encryption | Environment for SGKLM Credentials | Password Create ************************"
  lineinfile:
    dest: "{{ sgklm_dir }}/.sgklm_pass"
    create: yes
    line: "{{ scale_encryption_admin_password }}"
    mode: "0600"
  when: not file_check.stat.exists
  run_once: true

- debug:
    var: file_check.stdout_lines

- name: "************************ Encryption | Adding SGKLM Server ************************"
  shell: |
    echo -e "yes" | mmkeyserv server add "{{ scale_encryption_servers[0] }}" --backup {% if scale_encryption_servers|length > 1 %}"{{ scale_encryption_servers[1:] | join(',') }}"{% endif %} --server-pwd "{{ password_file }}"
  register: add_keyserver_output
  run_once: true

- debug:
    var: add_keyserver_output.stdout_lines