---
# Adding GKLM Key servers for encryption to storage cluster

# Make default variables available in hostvars

- name: Encryption | Environment for GKLM Credentials | Check
  stat:
    path: "{{ gklm_dir }}"
  register: dir_check

- name: Encryption | Environment for GKLM Credentials | Create
  file:
    path: "{{ gklm_dir }}"
    state: directory
  when: not dir_check.stat.exists

- debug:
    var: dir_check.stdout_lines
  run_once: true


- name:  Encryption | Environment for GKLM Credentials | Password Check
  stat:
    path: "{{ gklm_dir }}/.gklm_pass"
  register: file_check

- name: Encryption | Environment for GKLM Credentials | Password Create
  lineinfile:
    dest: "{{ gklm_dir }}/.gklm_pass"
    create: yes
    line: "{{ scale_encryption_admin_password }}"
    mode: "0600"
  when: not file_check.stat.exists
  run_once: true

- debug:
    var: file_check.stdout_lines

- name: Encryption | Adding GKLM Server
  shell: |
    {{ scale_command_path }}mmkeyserv server add "{{ scale_encryption_servers[0] }}" --backup {% if scale_encryption_servers|length > 1 %}"{{ scale_encryption_servers[1:] | join(',') }}"{% endif %} --server-pwd "{{ password_file }}" --accept
  register: add_keyserver_output
  run_once: true

- debug:
    var: add_keyserver_output.stdout_lines