---
# Install or update RPMs

#
# Choose installation method from configuration variables
#
- block:  ## run_once: true
    - name: install | Check for repository installation method
      set_fact:
        scale_installmethod: repository
      when:
        - scale_install_repository_url is defined

    - name: install | Check for remotepkg installation method
      set_fact:
        scale_installmethod: remote_pkg
      when:
        - scale_install_repository_url is undefined
        - scale_install_remotepkg_path is defined

    - name: install | Check for localpkg installation method
      set_fact:
        scale_installmethod: local_pkg
      when:
        - scale_install_repository_url is undefined
        - scale_install_remotepkg_path is undefined
        - scale_install_localpkg_path is defined

    - name: install | Check for directory package installation method
      set_fact:
        scale_installmethod: dir_pkg
      when:
        - scale_install_repository_url is undefined
        - scale_install_remotepkg_path is undefined
        - scale_install_localpkg_path is undefined
        - scale_install_directory_pkg_path is defined

    - name: install | Check installation method
      assert:
        that: scale_installmethod is defined
        msg: >-
          Please set the appropriate variable 'scale_install_*' for your desired
          installation method!
  run_once: true
  delegate_to: localhost

#
# Run chosen installation method to get list of RPMs
#
- name: install | gpfs base path
  set_fact:
    gpfs_path_url: '{{ gpfs_extracted_path }}/gpfs_rpms'
  when: scale_install_localpkg_path is defined or scale_install_remotepkg_path is defined

- name: install | Initialize list of RPMs
  set_fact:
    scale_install_all_rpms: []

- name: install | Initialize license list of RPMs
  set_fact:
    scale_install_license_rpms: []

- include_tasks: install_{{ scale_installmethod }}.yml

- include_tasks: install_gplbin.yml
  when: scale_install_gplbin_rpm is defined

- include_tasks: install_license_pkg.yml
  when: scale_install_remotepkg_path is defined or scale_install_localpkg_path is defined or scale_install_directory_pkg_path is defined

- include_tasks: install_license_repository.yml
  when: scale_install_repository_url is defined

- meta: flush_handlers

#
# Fail upon online update
#
# - include_tasks: update.yml
- include_tasks: upgrade.yml
  when: scale_daemon_running | bool

#
# Install or update RPMs
#
- block:  ## when: not scale_daemon_running
    - name: install | List installed GPFS RPMs
      yum:
        list: gpfs.base
        disablerepo: spectrum-scale-gpfs
      register: scale_install_rpmlist
      when: ansible_pkg_mgr == 'yum'

    - name: install | Install GPFS RPMs
      yum:
        name: "{{ scale_install_all_rpms }}"
        state: present
      register: scale_install_rpmresult
      when: ansible_pkg_mgr == 'yum'

    - name: install | Install GPFS License RPMs
      yum:
        name: "{{ scale_install_license_rpms }}"
        state: present
      register: scale_install_license_rpmresult
      when: ansible_pkg_mgr == 'yum'

    - name: install | List installed GPFS RPMs
      dnf:
        list: gpfs.base
        disablerepo: spectrum-scale-gpfs
      register: scale_install_dnfrpmlist
      when: ansible_pkg_mgr == 'dnf'

    - name: install | Install GPFS RPMs
      dnf:
        name: "{{ scale_install_all_rpms }}"
        state: present
      register: scale_install_dnfrpmresult
      when: ansible_pkg_mgr == 'dnf'

    - name: install | Install GPFS License RPMs
      dnf:
        name: "{{ scale_install_license_rpms }}"
        state: present
      register: scale_install_license_dnfrpmresult
      when: ansible_pkg_mgr == 'dnf'

    - name: install | Check if GPFS RPMs were updated
      set_fact:
        scale_install_updated: true
      when:
        - ("'installed' in scale_install_rpmlist.results | map(attribute='yumstate') | list") or
          ("'installed' in scale_install_dnfrpmlist.results | map(attribute='yumstate' | list")
        - (scale_install_rpmresult.changed) or (scale_install_dnfrpmresult.changed)
        #- (scale_install_license_rpmresult.changed) or (scale_install_license_dnfrpmresult.changed)
  when: not scale_daemon_running
