---
- name: configure | Initialize lists
  set_fact:
   scale_gateway_nodes: []

- name: cluster | Find gateway nodes
  add_host:
    name: "{{ item }}"
    groups: scale_gateway_nodes
  when: hostvars[item].scale_cluster_gateway | bool
  with_items: "{{ ansible_play_hosts }}"
  changed_when: false

- name: configure | Enabling AFM gateway
  vars:
     scale_gateway_node: "{{ groups['scale_gateway_nodes'] | list }}"
  command: "{{ scale_command_path }}mmchnode -N {{ scale_gateway_node | join(',') }} --gateway"
  when: groups['scale_gateway_nodes'] | list | length > 0
  register: result_gateway
  run_once: true

- debug:
    msg: "{{ result_gateway.cmd }}"
  when: result_gateway.cmd is defined
