#Resetting the GKLM admin password 

- block:
    - name: "************************ Encryption | Admin Password Reset | Login ************************"
      uri:
        url: "https://{{ server }}:9443/SKLM/rest/v1/ckms/login"
        method: POST
        headers:
          Content-Type: application/json
          Accept: application/json
        body_format: json
        body:
          userid: "{{ scale_encryption_admin_username }}"
          password: "{{ scale_encryption_admin_default_password }}"
        validate_certs: no
      register: login_response
      run_once: true

    - name: Extract UserAuthId from login response
      set_fact:
        user_auth_id: "{{ login_response.json.UserAuthId }}"

    - name: "************************ Encryption | Admin Password Reset | Configuring ************************"
      uri:
        url: "https://{{ server }}:9443/SKLM/rest/v1/ckms/usermanagement/users/{{ scale_encryption_admin_username }}"
        method: PUT
        headers:
          accept: "application/json"
          Content-Type: "application/json"
          Authorization: "SKLMAuth userAuthId={{ user_auth_id }}"
        body_format: json
        body:
          password: "{{ scale_encryption_admin_password }}"
        validate_certs: no
      register: password_reset
      run_once: true

    - debug:
        var: password_reset.json

    - name: Creating file if admin password reset is successful
      ansible.builtin.file:
        path: "{{ gklm_dir }}/password_update_success"
        state: touch
      when: password_reset_status.json.status == "Succeeded"