---
# Sharing the master backup across all clones

- name: "************************ Encryption | Copy Master Backup ************************"
  fetch:
    src: "{{ gklm_backup_dir }}/{{ master_backup_jar_file }}"
    dest: "/tmp/{{ master_backup_jar_file }}"
    flat: yes
    fail_on_missing: yes
  delegate_to: "{{ scale_encryption_servers[0] }}"
  run_once: true

- name: "************************ Encryption | Copy Master Backup to Clone ************************"
  copy:
    src: "/tmp/{{ master_backup_jar_file }}"
    dest: "{{ gklm_backup_dir }}/{{ master_backup_jar_file }}"
  delegate_to: "{{ item }}"
  with_items: "{{ scale_encryption_servers }}"
  when: inventory_hostname != scale_encryption_servers[0]
  run_once: true

- name: "************************ Encryption | Change Backup file permission ************************"
  ansible.builtin.file:
    path: "{{ gklm_backup_dir }}/{{ master_backup_jar_file }}"
    owner: "{{ gklm_user }}"
  become: true
  delegate_to: "{{ item }}"
  with_items: "{{ scale_encryption_servers }}"
  when: inventory_hostname != scale_encryption_servers[0]
  run_once: true

- debug:
    var: copy_status
