#Initating the replication on the clone server from Master

- block:
    - name: "************************ Encryption | Initiate Replication | Login ************************"
      uri:
        url: "https://{{ scale_encryption_servers[0] }}:9443/SKLM/rest/v1/ckms/login"
        method: POST
        headers:
          Content-Type: application/json
          Accept: application/json
        body_format: json
        body:
          userid: "SKLMAdmin"
          password: "{{ scale_encryption_admin_password }}"
        validate_certs: no
      register: login_response

    - name: "************************ Encryption | Initiate Replication| On Clone Servers ************************"
      uri:
        url: "https://{{ scale_encryption_servers[0] }}:9443/SKLM/rest/v1/replicate/start"
        method: POST
        headers:
          Content-Type: application/json
          Accept: application/json
          Authorization: "SKLMAuth userAuthId={{ login_response.json.UserAuthId }}"
        body_format: json
        body:
          hostname: "{{ server }}"
          port: "2222"
        validate_certs: no
      register: initiate_replication_status

    - debug:
        var: initiate_replication_status.json
