---
# Install Linux kernel extension from pre-built RPM

#
# Configure YUM repository
#
- name: install | Configure GPL module YUM repository
  yum_repository:
    name: spectrum-scale-gplbin
    description: IBM Spectrum Scale (GPFS) GPL module
    baseurl: "{{ scale_install_gplbin_repository_url }}"
    gpgcheck: false
    state: present
  notify: yum-clean-metadata
  when:
    - ansible_pkg_mgr in ['yum', 'dnf']
    - scale_install_gplbin_repository_url is defined
    - scale_install_gplbin_repository_url != 'existing'

#
# Add kernel extension prereqs
#
- name: install | Add dependencies for pre-built GPL module to list
  set_fact:
    scale_install_all_rpms: "{{ scale_install_all_rpms + [ item ] }}"
  with_items: "{{ scale_install_gplbin_prereqs }}"
  when:
    - scale_install_gplbin_prereqs is defined
    - scale_install_gplbin_prereqs | length > 0

#
# Add kernel extension RPM
#
- name: install | Add GPL module RPM to list
  set_fact:
    scale_install_all_rpms: "{{ scale_install_all_rpms + [ scale_install_gplbin_package ] }}"
  when:
    - scale_install_gplbin_package is defined
    - scale_install_gplbin_package | length > 0
