---
# Configure IBM Spectrum Scale (GPFS)

- import_tasks: check.yml
  tags: always

- import_tasks: cluster.yml
  tags: cluster

- import_tasks: config.yml
  tags: config

- import_tasks: cluster_start.yml
  tags: cluster

- import_tasks: storage.yml
  tags: storage
  when:
    - scale_disks is undefined
    - scale_filesystem is undefined
    - scale_storage is defined

- import_tasks: storage_disk.yml
  tags: storage
  when:
    - scale_storage is undefined
    - scale_disks is defined

- import_tasks: storage_fs.yml
  tags: storage
  when:
    - scale_storage is undefined
    - scale_filesystem is defined

- import_tasks: finalize.yml
  tags: always
  when: scale_node_update_check | bool

# cluster node remover playbook
- import_tasks: removenode.yml
  tags: removenode

# # tasks for creating fileset
# - import_tasks: storage_fileset.yml
#   when: scale_protocols is defined and (scale_protocols.nfs|bool or scale_protocols.smb|bool)
