---
# YUM repository installation method

#
# Configure YUM repository
#
- name: Initialize
  set_fact:
   scale_zimon_url: ""
   scale_zimon_collector_url: ""

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_rpms/rhel7/'
  when: ansible_distribution in scale_rhel_distribution and ansible_distribution_major_version == '7'

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_rpms/rhel8/'
  when: ansible_distribution in scale_rhel_distribution and ansible_distribution_major_version == '8'

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_rpms/rhel9/'
  when: ansible_distribution in scale_rhel_distribution and ansible_distribution_major_version == '9'

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_debs/ubuntu/ubuntu16/'
  when: ansible_distribution in scale_ubuntu_distribution and ansible_distribution_major_version == '16'

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_debs/ubuntu/ubuntu18/'
  when: ansible_distribution in scale_ubuntu_distribution and ansible_distribution_major_version == '18'

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_debs/ubuntu/'
  when: ansible_distribution in scale_ubuntu_distribution and ansible_distribution_major_version == '20'

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_debs/ubuntu/ubuntu20/'
  when: 
    - ansible_distribution in scale_ubuntu_distribution and ansible_distribution_major_version == '20'
    - scale_version >= "5.1.4.0"

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_debs/ubuntu/ubuntu22/'
  when: 
    - ansible_distribution in scale_ubuntu_distribution and ansible_distribution_major_version == '22'

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_rpms/sles12/'
  when: ansible_distribution in scale_sles_distribution and ansible_distribution_major_version == '12'

- name: install | zimon path
  set_fact:
    scale_zimon_url: 'zimon_rpms/sles15/'
  when: ansible_distribution in scale_sles_distribution and ansible_distribution_major_version == '15'

- name: install | remove existing zimon APT repository
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /etc/apt/sources.list.d/spectrum-scale-pm-ganesha-debs.list
  when:
    - ansible_distribution in scale_ubuntu_distribution
    - scale_version >= "5.1.4.0"

- name: install | Configure ZIMon YUM repository
  yum_repository:
    name: spectrum-scale-zimon
    description: IBM Spectrum Scale (ZIMon)
    baseurl: "{{ scale_install_repository_url }}{{ scale_zimon_url }}"
    gpgcheck: "{{ scale_install_gpgcheck }}"
    repo_gpgcheck: no
    sslverify: no
    state: present
  notify: yum-clean-metadata
  when:
    - ansible_pkg_mgr == 'yum' or ansible_pkg_mgr == 'dnf'
    - scale_install_repository_url is defined
    - scale_install_repository_url != 'existing'

- name: install | Configure zimon APT repository
  apt_repository:
    filename: "{{ item.key }}"
    repo: "deb [trusted=yes] {{ scale_install_repository_url }}{{ item.value }} ./"
    validate_certs: no
    state: present
    update_cache: yes
    codename: IBM Spectrum Scale (Zimon debs)
    mode: 0777
  when:
    - ansible_pkg_mgr == 'apt'
    - scale_install_repository_url is defined
    - scale_install_repository_url != 'existing'
  with_dict:
    spectrum-scale-zimon-debs: "{{ scale_zimon_url }}"

- name: install | Configure ZIMon repository
  zypper_repository:
    name: spectrum-scale-zimon
    description: IBM Spectrum Scale (ZIMon)
    repo: "{{ scale_install_repository_url }}{{ scale_zimon_url }}"
    disable_gpg_check: no
    state: present
    overwrite_multiple: yes
  when:
    - ansible_pkg_mgr == 'zypper'
    - scale_install_repository_url is defined
    - scale_install_repository_url != 'existing'

- name: install | package methods
  set_fact:
    scale_zimon_sensors_packages: "{{ scale_zimon_sensors_packages }}"
    scale_zimon_collector_packages: "{{ scale_zimon_collector_packages }}"
  when: ansible_pkg_mgr == 'yum' or ansible_pkg_mgr == 'dnf'

- name: install | package methods
  set_fact:
    scale_zimon_sensors_packages: "{{ scale_zimon_sensors_packages_ubuntu }}"
    scale_zimon_collector_packages: "{{ scale_zimon_collector_packages_ubuntu }}"
  when: ansible_pkg_mgr == 'apt'

- name: install | package methods
  set_fact:
    scale_zimon_sensors_packages: "{{ scale_zimon_sensors_packages_suse }}"
    scale_zimon_collector_packages: "{{ scale_zimon_collector_packages_suse }}"
  when: ansible_pkg_mgr == 'zypper'

- name: install | package methods on arm arch
  set_fact:
    scale_zimon_collector_packages: "{{ scale_zimon_collector_packages_arm }}"
  when: 
    - ansible_pkg_mgr == 'yum' or ansible_pkg_mgr == 'dnf'
    - ansible_architecture == "aarch64"

- name: install | package methods on arm arch
  set_fact:
    scale_zimon_collector_packages: "{{ scale_zimon_collector_packages_ubuntususe_arm }}"
  when: 
    - ansible_pkg_mgr == 'apt' or ansible_pkg_mgr == 'zypper'
    - ansible_architecture == "aarch64"

#
# Add GUI packages
#
- name: install | Add GPFS sensors packages to list
  set_fact:
    scale_install_all_packages: "{{ scale_install_all_packages + [ item ] }}"
  with_items:
    - "{{ scale_zimon_sensors_packages }}"

- name: install | Add GPFS collector packages to list
  set_fact:
    scale_install_all_packages: "{{ scale_install_all_packages + [ item ] }}"
  with_items:
    - "{{ scale_zimon_collector_packages }}"
  when: (scale_zimon_collector | bool) or (scale_cluster_gui | bool)
