---
- name: configure | Check callhome capabilitiy
  shell:
   cmd: "{{ scale_command_path }}mmcallhome capability list -Y | grep enabled"
  register: scale_callhome_config_status
  ignore_errors: true
  failed_when: false

- debug:
    msg: "{{ scale_callhome_config_status.cmd }}"

- block:
  - name: configure | Setup the call home proxy configuration if enabled
    shell:
     cmd: "{{ scale_command_path }}mmcallhome proxy change --proxy-location {{scale_callhome_params.proxy_location }} --proxy-port {{ scale_callhome_params.proxy_ip }} --proxy-username {{ scale_callhome_params.proxy_user }} --proxy-password {{ scale_callhome_params.proxy_password }}"
    when: scale_callhome_proxy_status | bool
    register: scale_callhome_proxy_config

  - debug:
     msg: "{{ scale_callhome_proxy_config.cmd }}"
    when: scale_callhome_proxy_status | bool

  - name: configure| Setup the call home customer configuration
    shell:
     cmd: "{{ scale_command_path }}mmcallhome info change --customer-name {{ scale_callhome_params.customer_name }} --customer-id {{ scale_callhome_params.customer_id }} --email {{ scale_callhome_params.customer_email}} --country-code {{ scale_callhome_params.customer_country }}"
    register: scale_callhome_customer_config

  - debug:
     msg: "{{ scale_callhome_customer_config.cmd }}"

  - name: configure| Enable callhome
    shell:
     cmd: "{{ scale_command_path }}mmcallhome capability enable"
     stdin: accept
    register: scale_callhome_status
    changed_when: scale_callhome_customer_config|bool

  - debug:
     msg: "{{ scale_callhome_status.cmd }}"

  - debug:
     msg: "Callhome enabled"
    changed_when: scale_callhome_status|bool

  - name: configure | Check if callhome group is already created
    shell:
     cmd: "{{ scale_command_path }}mmcallhome group list"
    ignore_errors: true
    register: scale_callhome_group

  - debug:
     msg: "{{ scale_callhome_group.cmd }}"

  - name: configure | Create callhome group
    shell:
     cmd: "{{ scale_command_path }}mmcallhome group auto --server {{ scale_callhome_params.callhome_server }}"
    when: scale_callhome_group.stdout==""
    register: scale_callhome_group

  - debug:
     msg: "{{ scale_callhome_group.cmd }}"
    when: scale_callhome_group.changed is defined and scale_callhome_group.changed|bool

  - name: configure | Setup the call home schedule configuration
    shell:
     cmd: "{{ scale_command_path }}mmcallhome schedule add --task {{ item }}"
    with_items:
     - "{{ scale_callhome_params.callhome_schedule }}"
    register: scale_callhome_schedule_status

  - debug:
     msg: "{{ scale_callhome_schedule_status.cmd }}"
    when: scale_callhome_schedule_status|bool
  when: scale_callhome_config_status.stdout==""
  run_once: true
