---
# Installing required ldap client packages for the integration.

- name: LDAP | Installing Packages
  ansible.builtin.shell: "grep -oE 'release [0-9]+' /etc/redhat-release | awk '{print $2}'"
  register: rhel_version
  changed_when: false

- name: LDAP | Install Packages for RHEL 7
  ansible.builtin.yum:
    name:
      - openldap-clients
      - nss-pam-ldapd
      - sssd
      - oddjob
      - oddjob-mkhomedir
    state: present
  when: rhel_version.stdout == "7"
  register: install_ldap_client

- name: LDAP | Install Packages for RHEL 8
  ansible.builtin.dnf:
    name:
      - libnsl
      - libnsl2
      - openldap-clients
      - nss-pam-ldapd
      - authselect
      - sssd
      - oddjob
      - oddjob-mkhomedir
    state: present
  when: rhel_version.stdout == "8"
  register: install_ldap_client


- name: LDAP | Install Packages for RHEL 9
  ansible.builtin.dnf:
    name:
      - openldap-clients
      - sssd
      - sssd-ldap
      - oddjob-mkhomedir
    state: present
  when: rhel_version.stdout == "9"
  register: install_ldap_client