---
 # Installing required ldap client packages for the integration.
 
 - name: LDAP | Check OS version for OpenLDAP package installation
   ansible.builtin.shell: "grep -oE 'release [0-9]+' /etc/redhat-release | awk '{print $2}'"
   register: rhel_version
   changed_when: false
 
 - name: LDAP | Install Required OpenLDAP Packages
   ansible.builtin.dnf:
     name:
       - libnsl
       - libnsl2
       - openldap-clients
       - sssd
       - sssd-ldap
       - oddjob-mkhomedir
       - openssl-perl
       - authselect
     state: present
   when: rhel_version.stdout in ["8", "9"]