KP {
 type = KMIP
 kmipServerUri = tls://{{ vpc_region }}.kms.cloud.ibm.com:5696
 keyStore = /var/mmfs/etc/{{ kp_resource_prefixs }}.p12
 passphrase = {{ scale_encryption_admin_password }}
 clientCertLabel = {{ kp_resource_prefixs }}
}