---
# YUM repository installation method

#
# Configure YUM repository
#
- name: install | Initialize
  set_fact:
   scale_fal_url: ""

- name: install | file audit logging path
  set_fact:
    scale_fal_url: 'gpfs_rpms/rhel7/'
  when: ansible_distribution in scale_rhel_distribution and ansible_distribution_major_version == '7'

- name: install | file audit logging path
  set_fact:
    scale_fal_url: 'gpfs_rpms/rhel8/'
  when: ansible_distribution in scale_rhel_distribution and ansible_distribution_major_version == '8'

- name: install | file audit logging path
  set_fact:
    scale_fal_url: 'gpfs_rpms/rhel9/'
  when: ansible_distribution in scale_rhel_distribution and ansible_distribution_major_version == '9'

- name: install | file audit logging path
  set_fact:
    scale_fal_url: 'gpfs_rpms/rhel10/'
  when: ansible_distribution in scale_rhel_distribution and ansible_distribution_major_version == '10'

- name: install | file audit logging path
  set_fact:
    scale_fal_url: 'gpfs_debs/ubuntu/'
  when: ansible_distribution in scale_ubuntu_distribution 

- name: install | file audit logging path
  set_fact:
    scale_fal_url: 'gpfs_debs/ubuntu/ubuntu20/'
  when:
    - ansible_distribution in scale_ubuntu_distribution and ansible_distribution_major_version == '20'
    - scale_version >= "5.1.4.0"

- name: install | file audit logging path
  set_fact:
    scale_fal_url: 'gpfs_debs/ubuntu/ubuntu22/'
  when: ansible_distribution in scale_ubuntu_distribution and ansible_distribution_major_version == '22'

- name: install | file audit logging path
  set_fact:
    scale_fal_url: 'gpfs_debs/ubuntu/ubuntu24/'
  when: ansible_distribution in scale_ubuntu_distribution and ansible_distribution_major_version == '24'

- name: install | file audit logging path
  set_fact:
    scale_fal_url: 'gpfs_rpms/sles15/'
  when: ansible_distribution in scale_sles_distribution

- name: install | Configure fal YUM repository
  yum_repository:
    name: spectrum-scale-fal
    description: IBM Spectrum Scale (FAL)
    baseurl: "{{ scale_install_repository_url }}{{ scale_fal_url }}"
    gpgcheck: "{{ scale_install_gpgcheck }}"
    repo_gpgcheck: no
    sslverify: no
    state: present
  notify: yum-clean-metadata
  when:
    - ansible_pkg_mgr == 'yum' or ansible_pkg_mgr == 'dnf'
    - scale_install_repository_url is defined
    - scale_install_repository_url != 'existing'

- name: install | Configure fal APT repository
  apt_repository:
    filename: spectrum-scale-fal-debs
    repo: "deb [trusted=yes] {{ scale_install_repository_url }}{{ scale_fal_url }} ./"
    validate_certs: no
    state: present
    update_cache: yes
    codename: IBM Spectrum Scale (FAL debs)
    mode: 0777
  when:
    - ansible_pkg_mgr == 'apt'
    - scale_install_repository_url is defined
    - scale_install_repository_url != 'existing'

- name: install | Configure fal repository
  zypper_repository:
    name: spectrum-scale-fal-sles
    description: IBM Spectrum Scale (FAL)
    repo: "{{ scale_install_repository_url }}{{ scale_fal_url }}"
    disable_gpg_check: no
    state: present
    overwrite_multiple: yes
  when:
    - ansible_pkg_mgr == 'zypper'
    - scale_install_repository_url is defined
    - scale_install_repository_url != 'existing'

#
# Add FAL packages
#
- name: install | Add GPFS file audit logging packages to list
  set_fact:
    scale_install_all_packages: "{{ scale_install_all_packages + [ item ] }}"
  with_items:
    - "{{ scale_auditlogging_packages }}"
  when: (scale_fal_enable | bool)

- name: install | remove gpfs.java packages from list
  set_fact:
      scale_install_all_packages: "{{ scale_install_all_packages | reject('search', 'gpfs.java') | list }}"
  when: (ansible_architecture == "aarch64") and (scale_fal_enable | bool)
