---
#
# samples/playbook_repository.yml
#

# Playbook sample for deploying IBM Spectrum Scale (GPFS) cluster using
# repository installation method. You will need to provide the URL of an
# (existing) Spectrum Scale YUM repository. Copy the contents of
# /usr/lpp/mmfs/{{ scale_version }}/* to a web server to build your repository.
# A YUM repository will be defined on each managed node in your cluster.
# Packages will then be installed from this central repository.

# Note that specifying the variable 'scale_version' is mandatory for this
# installation method.

- hosts: cluster01
  collections:
    - ibm.spectrum_scale
  vars:
    - scale_version: 5.0.4.0
    # Remember the trailing slash `/` in the URL
    - scale_install_repository_url: http://server/path/
  roles:
    - core/precheck
    - core/node
    - core/cluster
    - core/postcheck
