---
#
# samples/playbook_directory.yml
#

# Playbook sample for deploying IBM Spectrum Scale (GPFS) cluster using the
# directory installation method. You need to keep all required Spectrum Scale
# packages in a single user-provided directory.

# Note that specifying the variable 'scale_version' is *not* required for this
# installation method.

- hosts: cluster01
  collections:
    - ibm.spectrum_scale
  vars:
    - scale_install_directory_pkg_path: /root/spectrum_scale_packages
  roles:
    - core_prepare
    - core_install
    - core_configure
    - core_verify
