# Create .p12 certificate and Create Encryption Key
# Create a Policy file

- block:
    - name: KeyProtect Encryption | Encryption Prepare | Check if .p12 cert exists
      stat:
        path: "{{ key_protect_dir }}/{{ kp_resource_prefix }}.p12"
      register: cert_file_stat

    - name: Run mmgskkm store command | Encryption Prepare | Create a .p12 Store Cert
      command: '{{ scale_command_path }}mmgskkm store --pwd "{{ scale_encryption_admin_password }}" --label "{{ kp_resource_prefix }}" --cert "{{ key_protect_dir }}/{{ kp_resource_prefix }}.cert" --priv "{{ key_protect_dir }}/{{ kp_resource_prefix }}.key" --out "{{ key_protect_dir }}/{{ kp_resource_prefix }}.p12"'
      args:
        chdir: "{{ key_protect_dir }}"
      when: not cert_file_stat.stat.exists
      run_once: true

    - name: Run mmgskkm trust command | Encryption Prepare | Apply Trust on .p12 Cert
      command: '{{ scale_command_path }}mmgskkm trust --prefix "{{ key_protect_dir }}/Key_Protect_Server.chain" --pwd "{{ scale_encryption_admin_password }}" --label "{{ kp_resource_prefix }}" --out "{{ key_protect_dir }}/{{ kp_resource_prefix }}.p12"'
      args:
        chdir: "{{ key_protect_dir }}"
      register: p12cert
      when: not cert_file_stat.stat.exists
      run_once: true

    - name: Sleep for 5 seconds
      ansible.builtin.pause:
        seconds: 5

    - name: KeyProtect Encryption | Encryption Prepare | Check if key creation has already performed
      stat:
        path: "{{ key_protect_dir }}/key_creation_done.flag"
      register: flag_file_stat

    - name: KeyProtect Encryption | Encryption Prepare | Create Encryption Key
      command: >
        {{ scale_command_path }}mmkmipkm createkey
        --host "{{ vpc_region }}.kms.cloud.ibm.com"
        --kmipport "{{ kp_resource_prefix }}.port"
        --keystore "{{ key_protect_dir }}/{{ kp_resource_prefix }}.p12"
        --keypass "{{ key_protect_dir }}/{{ kp_resource_prefix }}.pwd"
        --label "{{ kp_resource_prefix }}"
      args:
        chdir: "{{ key_protect_dir }}"
      register: createkey_output
      when: p12cert is defined and not flag_file_stat.stat.exists
      run_once: true

    - name: KeyProtect Encryption | Encryption Prepare | Debug createkey_output
      debug:
        var: createkey_output
      when: createkey_output is defined

    - name: KeyProtect Encryption | Encryption Prepare | Create flag to indicate key creation has been performed
      file:
        path: "{{ key_protect_dir }}/key_creation_done.flag"
        state: touch
      when: not flag_file_stat.stat.exists
      run_once: true

    - name: KeyProtect Encryption | Encryption Prepare | Set Encryption key fact
      set_fact:
        encryption_key: "{{ createkey_output.stdout if createkey_output is defined and 'stdout' in createkey_output and createkey_output.stdout != '' }}"
      when: not flag_file_stat.stat.exists
      run_once: true

    - name: KeyProtect Encryption | Encryption Prepare | Copy Policy file
      template:
        src: "templates/KP.fsenc.pol.j2"
        dest: "/var/mmfs/etc/KP.fsenc.pol"
        owner: root
        group: root
        mode: '0600'
      when: encryption_key is defined and encryption_key != ''
      run_once: true

  when: key_protect_dir is defined and key_protect_dir | length > 0