---
# Install IBM Spectrum Scale (GPFS) Callhome

- import_tasks: install.yml
  tags: install
  when: 
    - scale_callhome_params is defined and scale_callhome_params.is_enabled|bool
    - scale_version is version_compare('5.1.0', '<')

